body{
    background-color: rgb(129, 192, 255);
}
div#corpo{
    background-color: rgb(236, 236, 236);
    width: 500px;
    border-radius: 100px;
    margin: 40px auto auto auto;
    padding: 30px 20px 20px 20px;
}
p{
    text-align: justify;
}
div#list{
    position: relative;
    left: 50%;
    transform: translateX(-42%);
}