body{
    background-color: #576574;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.body{
    background-color: #FFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
    box-sizing: border-box;
    height: 100vh;
    margin: auto;
    width: 70%;
}
div.body h1{
    font-size: 35px;
    text-align: center;
    padding: 50px;
}

div.form{
    margin: auto;
    padding-right: 5%;
    width: 60%;
}
div.form p{
    padding: 10px;
    text-align: right;
}
div.form .button{
    border: none;
    box-shadow: 2px 2px 2px #abb6c2;
    background-color: #c8d6e5;
    font-size: 20px;
    height: 35px;
    left: 50%;
    position: relative;
    transform: translateX(-10%);
    width: 40%;
}

@media (min-width: 1072px){
    div.form{
        width: 50%;
        padding-right: 15%;
    }
}